{% extends "home.html" %}

{% block title %}Search{% endblock %}

{% block content%}
    <h2>You searched for {{search_term}}</h2>
    <table class="table table-hover">
        <tr>
            <th>Movie ID</th>
            <th>Name</th>
            <th>Release Year</th>
            <th>Language</th>
            <th>Genre</th>
            <th>Watched</th>
            <th>Priority</th>
            <th>Extra Info</th>
        </tr>
        {% for movie in result%}
        <tr>
            <td>{{movie.id}}</td>
            <td><a href="{% url 'details' movie.id %}">{{movie.name}}</a></td>
            <td>{{movie.release_year}}</td>
            <td>{{movie.language}}</td>
            <td>{{movie.genre_1}}</td>
            <td>{{movie.watched}}</td>
            <td>{{movie.priority}}</td>
            <td>{{movie.extra_info}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}