.title {
    color: rgb(12, 5, 5);
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s;
}

.title:hover{
    transform: scale(1.05,1.05);
}

.logo {
    transition: all 0.5s;
}
.logo:hover{
    transform: scale(1.05,1.05);
}

section {
    min-height:50vh;
}

table a {
    color:black;
}